<div class="col-md-4">
    <h2 class="text-center">{{ isEditMode ? 'Edit Trip' : 'Add Trip' }}</h2>

    <div *ngIf="isLoading" class="alert alert-info">
        {{ isEditMode && !submitted ? 'Loading trip...' : 'Saving trip...' }}
    </div>

    <form *ngIf="tripForm" [formGroup]="tripForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Code:</label>
            <input type="text" formControlName="code" placeholder="Trip code" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['code'].errors }">

            <div *ngIf="submitted && f['code'].errors">
                <div *ngIf="f['code'].errors?.['required']">
                    Trip Code is required
                </div>
                <div *ngIf="f['code'].errors?.['minlength'] || f['code'].errors?.['maxlength']">
                    Trip Code must be 10 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Name:</label>
            <input type="text" formControlName="name" placeholder="Name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">

            <div *ngIf="submitted && f['name'].errors">
                <div *ngIf="f['name'].errors?.['required']">
                    Name is required
                </div>
                <div *ngIf="f['name'].errors?.['maxlength']">
                    Name cannot be more than 50 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Length:</label>
            <input type="text" formControlName="length" placeholder="Length of stay" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['length'].errors }">

            <div *ngIf="submitted && f['length'].errors">
                <div *ngIf="f['length'].errors?.['required']">
                    Length is required
                </div>
                <div *ngIf="f['length'].errors?.['maxlength']">
                    Length cannot be more than 50 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Start:</label>
            <input type="date" formControlName="start" placeholder="Start" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['start'].errors }">

            <div *ngIf="submitted && f['start'].errors">
                <div *ngIf="f['start'].errors?.['required']">
                    Date is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Resort:</label>
            <input type="text" formControlName="resort" placeholder="Resort name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['resort'].errors }">

            <div *ngIf="submitted && f['resort'].errors">
                <div *ngIf="f['resort'].errors?.['required']">
                    Resort is required
                </div>
                <div *ngIf="f['resort'].errors?.['maxlength']">
                    Resort cannot be more than 100 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Per Person:</label>
            <input type="text" formControlName="perPerson" placeholder="Amount per person" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['perPerson'].errors }">

            <div *ngIf="submitted && f['perPerson'].errors">
                <div *ngIf="f['perPerson'].errors?.['required']">
                    Per Person is required
                </div>
                <div *ngIf="f['perPerson'].errors?.['pattern']">
                    Per Person must be a valid amount
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Image Name:</label>
            <input type="text" formControlName="image" placeholder="Image" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">

            <div *ngIf="submitted && f['image'].errors">
                <div *ngIf="f['image'].errors?.['required']">
                    Image Name is required
                </div>
                <div *ngIf="f['image'].errors?.['maxlength']">
                    Image Name cannot be more than 100 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Description:</label>
            <input type="text" formControlName="description" placeholder="Description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">

            <div *ngIf="submitted && f['description'].errors">
                <div *ngIf="f['description'].errors?.['required']">
                    Description is required
                </div>
                <div *ngIf="f['description'].errors?.['maxlength']">
                    Description cannot be more than 2000 characters
                </div>
            </div>
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <button type="submit" class="btn btn-info" [disabled]="isLoading">
            {{ isLoading ? 'Saving...' : 'Save' }}
        </button>
    </form>
</div>